body {background-color:black;font-family:arial;color:white;}
h1{color:grey;
font-family: verdana;}
#d1 {
  background-color:white;
  border-radius: 25px;
  height:400px;
  padding: 20px;
  color:black;
  margin:5px;
  width: 300px;
}


