body {background-color:black;
padding-left:20px;}
h1{color:grey;
font: 40px Arial, sans-serif;}
div{
  text-align:left;
  padding-left:350px;
  margin:0px;
}
#d1 {
  background-color:white;
  border-radius: 25px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
  width: 800px;
}


